@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto Mono;
  line-height: 1.6rem;
}

*[onclick] {
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: space-between;
}

#header {
  padding-top: 1.2rem;
}

#command-center {
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-5vh);
}

/* #left-wing {} */

/* #right-wing {} */

#typing-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
}

#text-display {
  margin-bottom: 1rem;
  overflow: hidden;
}

#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#redo-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#footer {
  margin-bottom: 0.4rem;
  text-decoration: none;
}
