/*
Colors inspired by GMK 9009 by Dixie Mech
https://dixiemech.com/gmk9009
legend color: #2e2f33
off white: #d9d2c8
beige accent: #b6b09a
red: #d28782
green: #6f8c70
*/

body {
  background: #b6b09a;
}

#header {
  color: #2e2f33;
}

#left-wing {
  color: #2e2f33;
}

#right-wing {
  color: #2e2f33;
}

#typing-area, #theme-area {
  background: #d9d2c8;
}

#text-display {
  color: #2e2f33;
}

#input-field {
  background: #b6b09a;
  color: #2e2f33;
}

#input-field.wrong {
  background: rgba(210, 135, 130, 0.3);
}

#redo-button {
  background: #6f8c70;
  color: #d9d2c8;
}

#footer {
  color: #2e2f33;
}

.highlight {
  color: #96907a;
}

.correct {
  color: #6f8c70;
}

.wrong {
  color: #d28782;
}
