body {
  background: #1a1a1a;
}

#heading {
  color: #fafafa;
}

#left-wing {
  color: #fafafa;
}

#right-wing {
  color: #fafafa;
}

#typing-area {
  background: #691f28;
}

#text-display {
  color: #fafafa;
}

#input-field {
  background: #4f181e;
  color: #fafafa;
}

#redo-button {
  background: #1a1a1a;
  color: #fafafa;
}

.highlight {
  color: #f9c440;
}

.correct {
  color: #68b723;
}

.incorrect {
  color: #c6262e;
}
