body {
  background: #575d5e;
}

#header {
  color: #e3d9c6;
}

#left-wing {
  color: #ed6b21;
}

#right-wing {
  color: #ed6b21;
}

#typing-area, #theme-area {
  background: #e3d9c6;
}

#text-display {
  color: #575d5e;
}

#input-field {
  background: #c9c0af;
  color: #575d5e;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #ed6b21;
  color: #575d5e;
}

#footer {
  color: #e3d9c6;
}

.highlight {
  color: #ed6b21;
}

.correct {
  color: #9d9b92;
}

.wrong {
  color: #c6262e;
}
