body {
  background: #1a1a1a;
}

#header {
  color: #fafafa;
}

#left-wing {
  color: #fafafa;
}

#right-wing {
  color: #fafafa;
}

#typing-area, #theme-area {
  background: #333333;
}

#text-display {
  color: #fafafa;
}

#input-field {
  background: #1a1a1a;
  color: #fafafa;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #1a1a1a;
  color: #fafafa;
}

#footer {
  color: #fafafa;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
