/*
Inspired by GMK Eclipse by T0mb3ry
https://drop.com/buy/massdrop-x-t0mb3ry-gmk-eclipse-custom-keycap-set
dark blue: #314f6f
dark grey: #3a3a3a
light blue: #abc6dc
*/

body {
  background: #314f6f;
}

#header {
  color: #abc6dc;
}

#left-wing {
  color: #abc6dc;
}

#right-wing {
  color: #abc6dc;
}

#typing-area, #theme-area {
  background: #3a3a3a;
}

#text-display {
  color: #abc6dc;
}

#input-field {
  background: #333333;
  color: #abc6dc;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #abc6dc;
  color: #3a3a3a;
}

#footer {
  color: #abc6dc;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
