body {
  background: #555761;
}

#header {
  color: #d4d4d4;
}

#left-wing {
  color: #25cdc5;
}

#right-wing {
  color: #25cdc5;
}

#typing-area, #theme-area {
  background: #d4d4d4;
}

#text-display {
  color: #555761;
}

#input-field {
  background: #abacae;
  color: #6c3c9d;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #6c3c9d;
  color: #25cdc5;
}

#footer {
  color: #25cdc5;
}

.highlight {
  color: #6c3c9d;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
