/*
Colors inspired by GMK Mizu by Rensunya
https://dixiemech.com/gmkmizu
dark blue: #253746
light blue: #b9d9eb
*/

body {
  background: #253746;
}

#header {
  color: #fafafa;
}

#left-wing {
  color: #fafafa;
}

#right-wing {
  color: #fafafa;
}

#typing-area, #theme-area {
  background: #b9d9eb;
}

#text-display {
  color: #253746;
}

#input-field {
  background: #a5c1d1;
  color: #253746;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #fafafa;
  color: #253746;
}

#footer {
  color: #fafafa;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
