/*
Colors inspired by GMK Modern Dolch by Janglad
https://clavier.xyz/moderndolch
dark gray: 494b4f
light gray: 7c7e81
Red: bc5868
Cyan: 81d8d0
*/

body {
  background: #494b4f;
}

#header {
  color: #fafafa;
}

#left-wing {
  color: #fafafa;
}

#right-wing {
  color: #fafafa;
}

#typing-area, #theme-area {
  background: #7c7e81;
}

#text-display {
  color: #fafafa;
}

#input-field {
  background: #494b4f;
  color: #fafafa;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #81d8d0;
  color: #fafafa;
}

#footer {
  color: #fafafa;
}

.highlight {
  color: #81d8d0;
}

.correct {
  color: #bbbcbe;
}

.wrong {
  color: #bc5868;
}
