body {
  background: #464746;
}

#header {
  color: #c8c3b8;
}

#left-wing {
  color: #ffac00;
}

#right-wing {
  color: #ffac00;
}

#typing-area, #theme-area {
  background: #63696a;
}

#text-display {
  color: #c8c3b8;
}

#input-field {
  background: #6f7778;
  color: #c8c3b8;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #6f7778;
  color: #a698c5;
}

#footer {
  color: #c8c3b8;
}

.highlight {
  color: #a698c5;
}

.correct {
  color: #93c247;
}

.wrong {
  color: #ea4221;
}
