body {
  background: #211333;
}

#header {
  color: #eed484;
}

#left-wing {
  color: #eed484;
}

#right-wing {
  color: #eed484;
}

#typing-area, #theme-area {
  background: #2e1a47;
}

#text-display {
  color: #eed484;
}

#input-field {
  background: #211333;
  color: #eed484;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #211333;
  color: #eed484;
}

#footer {
  color: #eed484;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
