/*
Inspired by GMK Nautilus by Zambumon
https://zambumon.com
accents: #302f2b
modifiers: #ffcd00
alphas: #f0ebd7
alphas legends: #302f2b
*/

body {
  background: #ffcd00;
}

#header {
  color: #302f2b;
}

#left-wing {
  color: #302f2b;
}

#right-wing {
  color: #302f2b;
}

#typing-area, #theme-area {
  background: #f0ebd7;
}

#text-display {
  color: #302f2b;
}

#input-field {
  background: #dad5c3;
  color: #302f2b;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #302f2b;
  color: #f0ebd7;
}

#footer {
  color: #302f2b;
}

.highlight {
  color: #302f2b;
}

.correct {
  color: #6a7e93;
}

.wrong {
  color: #e2322e;
}
