body {
  background: #e3ddcc;
}

#heading {
  color: #1a1a1a;
}

#left-wing {
  color: #1a1a1a;
}

#right-wing {
  color: #1a1a1a;
}

#typing-area {
  background: #fdf6e3;
}

#text-display {
  color: #1a1a1a;
}

#input-field {
  background: #e3ddcc;
  color: #1a1a1a;
}

#redo-button {
  background: #e3ddcc;
  color: #1a1a1a;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.incorrect {
  color: #c6262e;
}
