/*
Colors inspired by Monokai syntax theme
*/

body {
    background: #171812;
  }
  
  #header { 
    color: #6bfcab;
  }
  
  .bar { 
    color: #6bfcab;
  }
  
  #right-wing text {
    color: #F8F8F2;
  }
  
  #typing-area, #theme-area { 
    background: #272a33;
  }
  
  #text-display { 
    color: #4e5e6d;
  }
  
  #input-field { 
    background: #272a33;
    color: #516676;
  }
  
  #input-field.wrong { 
    background: #f25c5c;
  }
  
  #redo-button { 
    background: #6bfcab;
    color: #F8F8F2;
  }
  
  #footer { 
    color: #6bfcab;
  }
  
  .highlight { 
    color: #4b9973;
  }
  
  .correct { 
    color: #def0e9;
  }
  
  .wrong {
    color: #f25c5c;
  }